// $iconsPath: '${resourcePath}/fonts/icons/';
$iconsPath: 'https://www.manulife.com.kh/etc.clientlibs/coremfc/clientlibs/clientlib-site/resources/fonts/icons';

@font-face {
  font-family: 'manulife-icons';
  src:  url('#{$iconsPath}/manulife-icons.eot?jvge30');
  src:  url('#{$iconsPath}/manulife-icons.eot?jvge30#iefix') format('embedded-opentype'),
    url('#{$iconsPath}/manulife-icons.ttf?jvge30') format('truetype'),
    url('#{$iconsPath}/manulife-icons.woff?jvge30') format('woff'),
    url('#{$iconsPath}/manulife-icons.svg?jvge30#manulife-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="mnlicon-"], [class*=" mnlicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'manulife-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

   /* color variations  */
  &.white:before { 
    color: #fff !important; 
  }
}

.mnlicon-keyboard_arrow_down:before {
  content: "\e900";
}
.mnlicon-chevron-right:before {
  content: "\e901";
}
.mnlicon-chevron-small-right:before {
  content: "\e902";
}
.mnlicon-chevron-thin-right:before {
  content: "\e903";
}
.mnlicon-navigate_next:before {
  content: "\e904";
}
.mnlicon-Advisor1:before {
  content: "\e905";
}
.mnlicon-Death:before {
  content: "\e906";
}
.mnlicon-Bill:before {
  content: "\e907";
}
.mnlicon-Conversation1:before {
  content: "\e908";
}
.mnlicon-Download:before {
  content: "\e909";
}
.mnlicon-Star:before {
  content: "\e90a";
}
.mnlicon-About:before {
  content: "\e90b";
}
.mnlicon-Briefcase:before {
  content: "\e90c";
}
.mnlicon-Blog2:before {
  content: "\e90d";
}
.mnlicon-Discount:before {
  content: "\e90e";
}
.mnlicon-Phone:before {
  content: "\e90f";
}
.mnlicon-Cart:before {
  content: "\e910";
}
.mnlicon-Question:before {
  content: "\e911";
}
.mnlicon-Active:before {
  content: "\e912";
}
.mnlicon-Chart1:before {
  content: "\e913";
}
.mnlicon-FundUnits:before {
  content: "\e914";
}
.mnlicon-CashBenefit:before {
  content: "\e915";
}
.mnlicon-Education:before {
  content: "\e916";
}
.mnlicon-Manulife:before {
  content: "\e917";
}
.mnlicon-FirstAid:before {
  content: "\e918";
}
.mnlicon-Import:before {
  content: "\e919";
}
.mnlicon-FormSimple:before {
  content: "\e91a";
}
.mnlicon-Health:before {
  content: "\e91b";
}
.mnlicon-MedicalReport:before {
  content: "\e91c";
}
.mnlicon-Mobile:before {
  content: "\e91d";
}
.mnlicon-Payment:before {
  content: "\e91e";
}
.mnlicon-Accumulate:before {
  content: "\e91f";
}
.mnlicon-AccelerateGrowth:before {
  content: "\e920";
}
.mnlicon-Document:before {
  content: "\e921";
}
.mnlicon-SaveFile:before {
  content: "\e922";
}
.mnlicon-PayTime:before {
  content: "\e923";
}
.mnlicon-Statement:before {
  content: "\e924";
}
.mnlicon-Handshake:before {
  content: "\e925";
}
.mnlicon-FormLong:before {
  content: "\e926";
}
.mnlicon-Login2:before {
  content: "\e927";
}
.mnlicon-Wallet:before {
  content: "\e928";
}
.mnlicon-Reimbursement:before {
  content: "\e929";
}
.mnlicon-HusbandAndWifeAlternate:before {
  content: "\e92a";
}
.mnlicon-Sunny:before {
  content: "\e92b";
}
.mnlicon-Work:before {
  content: "\e92c";
}
.mnlicon-Stethoscope:before {
  content: "\e92d";
}
.mnlicon-Megaphone:before {
  content: "\e92e";
}
.mnlicon-Bank1:before {
  content: "\e92f";
}
.mnlicon-Trophy:before {
  content: "\e930";
}
.mnlicon-facebook:before {
  content: "\e931";
}
.mnlicon-Globe:before {
  content: "\e932";
}
.mnlicon-FormEmpty:before {
  content: "\e933";
}
.mnlicon-Promo:before {
  content: "\e934";
}
.mnlicon-Info:before {
  content: "\e935";
}
.mnlicon-Calculator:before {
  content: "\e936";
}
.mnlicon-Key:before {
  content: "\e937";
}
.mnlicon-Dollar:before {
  content: "\e938";
}
.mnlicon-Collaboration:before {
  content: "\e939";
}
.mnlicon-Buildings:before {
  content: "\e93a";
}
.mnlicon-Meter:before {
  content: "\e93b";
}
.mnlicon-CriticalIllness:before {
  content: "\e93c";
}
.mnlicon-Training:before {
  content: "\e93d";
}
.mnlicon-Family:before {
  content: "\e93e";
}
.mnlicon-Happy:before {
  content: "\e93f";
}
.mnlicon-MeetingRoom:before {
  content: "\e940";
}
.mnlicon-Wheelchair:before {
  content: "\e941";
}
.mnlicon-WheelChair:before {
  content: "\e941";
}
.mnlicon-Grandparents:before {
  content: "\e942";
}
.mnlicon-OutPatient:before {
  content: "\e943";
}
.mnlicon-RockingHorse:before {
  content: "\e944";
}
.mnlicon-Agent:before {
  content: "\e945";
}
.mnlicon-Ball:before {
  content: "\e946";
}
.mnlicon-History:before {
  content: "\e947";
}
.mnlicon-PeopleElder:before {
  content: "\e948";
}
.mnlicon-Info2:before {
  content: "\e949";
}
.mnlicon-Save2:before {
  content: "\e94a";
}
.mnlicon-Bank2:before {
  content: "\e94b";
}
.mnlicon-Solutions:before {
  content: "\e94c";
}
.mnlicon-PortfolioOptimization:before {
  content: "\e94d";
}
.mnlicon-Home2:before {
  content: "\e94e";
}
.mnlicon-Checklist:before {
  content: "\e94f";
}
.mnlicon-List:before {
  content: "\e950";
}
.mnlicon-Bicycle:before {
  content: "\e951";
}
.mnlicon-Save1:before {
  content: "\e952";
}
.mnlicon-Cells:before {
  content: "\e953";
}
.mnlicon-RollOverFunds:before {
  content: "\e954";
}
.mnlicon-Hospital:before {
  content: "\e955";
}
.mnlicon-Balance:before {
  content: "\e956";
}
.mnlicon-Home1:before {
  content: "\e957";
}
.mnlicon-Syringe:before {
  content: "\e958";
}
.mnlicon-ChildBoy:before {
  content: "\e959";
}
.mnlicon-FemaleSymbol:before {
  content: "\e95a";
}
.mnlicon-CircleCheckmark:before {
  content: "\e95b";
}
.mnlicon-Plus:before {
  content: "\e95c";
}
.mnlicon-CareerAdvancement:before {
  content: "\e95d";
}
.mnlicon-BadgeDollar:before {
  content: "\e95e";
}
.mnlicon-Alarm:before {
  content: "\e95f";
}
.mnlicon-MaleSymbol:before {
  content: "\e960";
}
.mnlicon-HospitalBed:before {
  content: "\e961";
}
.mnlicon-Active2:before {
  content: "\e962";
}
.mnlicon-LeavingAnInheritance:before {
  content: "\e963";
}
.mnlicon-Bonus:before {
  content: "\e964";
}
.mnlicon-Exchange:before {
  content: "\e965";
}
.mnlicon-AddFile:before {
  content: "\e966";
}
.mnlicon-Cash:before {
  content: "\e967";
}
.mnlicon-PaymentDone:before {
  content: "\e968";
}
.mnlicon-Target:before {
  content: "\e969";
}
.mnlicon-Woman:before {
  content: "\e96a";
}
.mnlicon-Man:before {
  content: "\e96b";
}
.mnlicon-MoneyBag:before {
  content: "\e96c";
}
.mnlicon-Compare:before {
  content: "\e96d";
}
.mnlicon-Calendar:before {
  content: "\e96e";
}
.mnlicon-Coin:before {
  content: "\e96f";
}
.mnlicon-PayInCash:before {
  content: "\e970";
}
.mnlicon-linkedin:before {
  content: "\e971";
}
.mnlicon-Cheque:before {
  content: "\e972";
}
.mnlicon-HistoryBadge:before {
  content: "\e973";
}
.mnlicon-Infinity:before {
  content: "\e974";
}
.mnlicon-BadgeUp:before {
  content: "\e975";
}
.mnlicon-Blog1:before {
  content: "\e976";
}
.mnlicon-Cashless:before {
  content: "\e977";
}
.mnlicon-Library:before {
  content: "\e978";
}
.mnlicon-Ambulance:before {
  content: "\e979";
}
.mnlicon-FormSearch:before {
  content: "\e97a";
}
.mnlicon-Conversation2:before {
  content: "\e97b";
}
.mnlicon-Email:before {
  content: "\e97c";
}
.mnlicon-Reception:before {
  content: "\e97d";
}
.mnlicon-Timeline:before {
  content: "\e97e";
}
.mnlicon-Location:before {
  content: "\e97f";
}
.mnlicon-CreditCard:before {
  content: "\e980";
}
.mnlicon-Id:before {
  content: "\e981";
}
.mnlicon-Dependent:before {
  content: "\e982";
}
.mnlicon-ExchangeRate:before {
  content: "\e983";
}
.mnlicon-Work2:before {
  content: "\e984";
}
.mnlicon-Upgrade:before {
  content: "\e985";
}
.mnlicon-PortfolioOptimization2:before {
  content: "\e986";
}
.mnlicon-Minus:before {
  content: "\e987";
}
.mnlicon-Login1:before {
  content: "\e988";
}
.mnlicon-Products:before {
  content: "\e989";
}
.mnlicon-AboutUs:before {
  content: "\e98a";
}
.mnlicon-PieChart1:before {
  content: "\e98b";
}
.mnlicon-FundSwitches:before {
  content: "\e98c";
}
.mnlicon-Heart:before {
  content: "\e98d";
}
.mnlicon-FullScreen:before {
  content: "\e98e";
}
.mnlicon-Diversification:before {
  content: "\e98f";
}
.mnlicon-Gift:before {
  content: "\e990";
}
.mnlicon-NoSmoking1:before {
  content: "\e991";
}
.mnlicon-BadgeCheckmark:before {
  content: "\e992";
}
.mnlicon-Idea:before {
  content: "\e993";
}
.mnlicon-Apple:before {
  content: "\e994";
}
.mnlicon-InPatient:before {
  content: "\e995";
}
.mnlicon-PriceMeter:before {
  content: "\e996";
}
.mnlicon-IncomeSupport:before {
  content: "\e997";
}
.mnlicon-FlexibilityAlternate:before {
  content: "\e998";
}
.mnlicon-PiggyBank:before {
  content: "\e999";
}
.mnlicon-AccelerateGrowth2:before {
  content: "\e99a";
}
.mnlicon-Passport:before {
  content: "\e99b";
}
.mnlicon-Live:before {
  content: "\e99c";
}
.mnlicon-Upload:before {
  content: "\e99d";
}
.mnlicon-Mcbl:before {
  content: "\e99e";
}
.mnlicon-EasyApplicationWithNoHealthCheckUp:before {
  content: "\e99f";
}
.mnlicon-ExpenseEfficiency:before {
  content: "\e9a0";
}
.mnlicon-Lock:before {
  content: "\e9a1";
}
.mnlicon-FirstAid2:before {
  content: "\e9a2";
}
.mnlicon-Reload:before {
  content: "\e9a3";
}
.mnlicon-Update:before {
  content: "\e9a4";
}
.mnlicon-Pill:before {
  content: "\e9a5";
}
.mnlicon-Like:before {
  content: "\e9a6";
}
.mnlicon-Safe:before {
  content: "\e9a7";
}
.mnlicon-FormCompleted:before {
  content: "\e9a8";
}
.mnlicon-Touch:before {
  content: "\e9a9";
}
.mnlicon-HighPerformingTeam:before {
  content: "\e9aa";
}
.mnlicon-Advisor2:before {
  content: "\e9ab";
}
.mnlicon-Car:before {
  content: "\e9ac";
}
.mnlicon-Airplane:before {
  content: "\e9ad";
}
.mnlicon-Communication:before {
  content: "\e9ae";
}
.mnlicon-Tooth:before {
  content: "\e9af";
}
.mnlicon-Baby:before {
  content: "\e9b0";
}
.mnlicon-Cashier:before {
  content: "\e9b1";
}
.mnlicon-GuaranteedCost:before {
  content: "\e9b2";
}
.mnlicon-DigitalCustomerLeader:before {
  content: "\e9b3";
}
.mnlicon-MobileLaptop:before {
  content: "\e9b4";
}
.mnlicon-Laptop:before {
  content: "\e9b5";
}
.mnlicon-ManWearingGlasses:before {
  content: "\e9b6";
}
.mnlicon-Person:before {
  content: "\e9b7";
}
.mnlicon-StairsUp:before {
  content: "\e9b8";
}
.mnlicon-Flag:before {
  content: "\e9b9";
}
.mnlicon-Award:before {
  content: "\e9ba";
}
.mnlicon-Watch:before {
  content: "\e9bb";
}
.mnlicon-Retirement:before {
  content: "\e9bc";
}
.mnlicon-GuaranteedDeathBenefits:before {
  content: "\e9bd";
}
.mnlicon-Tombstone:before {
  content: "\e9bd";
}
.mnlicon-TombStone:before {
  content: "\e9bd";
}
.mnlicon-ChartHistory:before {
  content: "\e9be";
}
.mnlicon-Leaf:before {
  content: "\e9bf";
}
.mnlicon-Camera:before {
  content: "\e9c0";
}
.mnlicon-Callback:before {
  content: "\e9c1";
}
.mnlicon-AccidentalDentalCare:before {
  content: "\e9c2";
}
.mnlicon-Cake:before {
  content: "\e9c3";
}
.mnlicon-Cafe:before {
  content: "\e9c4";
}
.mnlicon-Bus:before {
  content: "\e9c5";
}
.mnlicon-Brightness:before {
  content: "\e9c6";
}
.mnlicon-Brain:before {
  content: "\e9c7";
}
.mnlicon-Boy:before {
  content: "\e9c8";
}
.mnlicon-BoxingGlove:before {
  content: "\e9c9";
}
.mnlicon-BottomRight:before {
  content: "\e9ca";
}
.mnlicon-BottomLeft:before {
  content: "\e9cb";
}
.mnlicon-Bottle:before {
  content: "\e9cc";
}
.mnlicon-Bookmark:before {
  content: "\e9cd";
}
.mnlicon-Body:before {
  content: "\e9ce";
}
.mnlicon-Binoculars:before {
  content: "\e9cf";
}
.mnlicon-BeachBall:before {
  content: "\e9d0";
}
.mnlicon-Building:before {
  content: "\e9d1";
}
.mnlicon-Bandage:before {
  content: "\e9d2";
}
.mnlicon-BadgeX:before {
  content: "\e9d3";
}
.mnlicon-Artery:before {
  content: "\e9d4";
}
.mnlicon-ArrowRight:before {
  content: "\e9d5";
}
.mnlicon-ArrowLeft:before {
  content: "\e9d6";
}
.mnlicon-AngleUp:before {
  content: "\e9d7";
}
.mnlicon-AngleDown:before {
  content: "\e9d8";
}
.mnlicon-Aluminum:before {
  content: "\e9d9";
}
.mnlicon-Agile:before {
  content: "\e9da";
}
.mnlicon-ChangeOfLifeInsuredAlternate:before {
  content: "\e9db";
}
.mnlicon-ChangeOfLifeInsured:before {
  content: "\e9dc";
}
.mnlicon-Caution:before {
  content: "\e9dd";
}
.mnlicon-Carton:before {
  content: "\e9de";
}
.mnlicon-Carrot:before {
  content: "\e9df";
}
.mnlicon-CaretUp:before {
  content: "\e9e0";
}
.mnlicon-CaretDown:before {
  content: "\e9e1";
}
.mnlicon-Chart2:before {
  content: "\e9e2";
}
.mnlicon-Chart:before {
  content: "\e9e3";
}
.mnlicon-Chess:before {
  content: "\e9e4";
}
.mnlicon-Checkmark:before {
  content: "\e9e5";
}
.mnlicon-Check:before {
  content: "\e9e5";
}
.mnlicon-ChristmasTree:before {
  content: "\e9e6";
}
.mnlicon-ChildGirl:before {
  content: "\e9e7";
}
.mnlicon-ClothesHanger:before {
  content: "\e9e8";
}
.mnlicon-Clock:before {
  content: "\e9e9";
}
.mnlicon-Yearly:before {
  content: "\e9e9";
}
.mnlicon-CleanRoom:before {
  content: "\e9ea";
}
.mnlicon-CircleX:before {
  content: "\e9eb";
}
.mnlicon-ComplimentaryBenefits:before {
  content: "\e9ec";
}
.mnlicon-CommunicationsTower:before {
  content: "\e9ed";
}
.mnlicon-Comment:before {
  content: "\e9ee";
}
.mnlicon-ComingTogether:before {
  content: "\e9ef";
}
.mnlicon-Cloudy:before {
  content: "\e9f0";
}
.mnlicon-Coverage:before {
  content: "\e9f1";
}
.mnlicon-Corn:before {
  content: "\e9f2";
}
.mnlicon-CopyPaste:before {
  content: "\e9f3";
}
.mnlicon-DNA:before {
  content: "\e9f4";
}
.mnlicon-Digital:before {
  content: "\e9f5";
}
.mnlicon-Desktop:before {
  content: "\e9f6";
}
.mnlicon-Delete:before {
  content: "\e9f7";
}
.mnlicon-DeleteFile:before {
  content: "\e9f8";
}
.mnlicon-Debt:before {
  content: "\e9f9";
}
.mnlicon-DayView:before {
  content: "\e9fa";
}
.mnlicon-DateRange:before {
  content: "\e9fb";
}
.mnlicon-Date:before {
  content: "\e9fc";
}
.mnlicon-Dacadoo:before {
  content: "\e9fd";
}
.mnlicon-Crown:before {
  content: "\e9fe";
}
.mnlicon-EasyApplicationWithNoHealthCheck:before {
  content: "\e9ff";
}
.mnlicon-Earbuds:before {
  content: "\ea00";
}
.mnlicon-Duplicate:before {
  content: "\ea01";
}
.mnlicon-Drink:before {
  content: "\ea02";
}
.mnlicon-Down:before {
  content: "\ea03";
}
.mnlicon-ExcelPPTWordPDF:before {
  content: "\ea04";
}
.mnlicon-EstateLiquidity:before {
  content: "\ea05";
}
.mnlicon-Escalator:before {
  content: "\ea06";
}
.mnlicon-EPSSVG:before {
  content: "\ea07";
}
.mnlicon-EngagementRing:before {
  content: "\ea08";
}
.mnlicon-Emotions:before {
  content: "\ea09";
}
.mnlicon-EmergencyExit:before {
  content: "\ea0a";
}
.mnlicon-Elevator:before {
  content: "\ea0b";
}
.mnlicon-Eggs:before {
  content: "\ea0c";
}
.mnlicon-Edit:before {
  content: "\ea0d";
}
.mnlicon-Fax:before {
  content: "\ea0e";
}
.mnlicon-Eye2:before {
  content: "\ea0f";
}
.mnlicon-Eye:before {
  content: "\ea10";
}
.mnlicon-Export:before {
  content: "\ea11";
}
.mnlicon-Exit:before {
  content: "\ea12";
}
.mnlicon-Fire:before {
  content: "\ea13";
}
.mnlicon-FinancialWellness:before {
  content: "\ea14";
}
.mnlicon-Filter:before {
  content: "\ea15";
}
.mnlicon-FileFolder:before {
  content: "\ea16";
}
.mnlicon-Ferry:before {
  content: "\ea17";
}
.mnlicon-Fish:before {
  content: "\ea18";
}
.mnlicon-FocusRoom:before {
  content: "\ea19";
}
.mnlicon-Flower:before {
  content: "\ea1a";
}
.mnlicon-FlexibleAccess:before {
  content: "\ea1b";
}
.mnlicon-Flexibility:before {
  content: "\ea1c";
}
.mnlicon-Frisbee:before {
  content: "\ea1d";
}
.mnlicon-Gear:before {
  content: "\ea1e";
}
.mnlicon-Game:before {
  content: "\ea1f";
}
.mnlicon-Growth2:before {
  content: "\ea20";
}
.mnlicon-Growth1:before {
  content: "\ea21";
}
.mnlicon-Girl:before {
  content: "\ea22";
}
.mnlicon-Height:before {
  content: "\ea23";
}
.mnlicon-HearingAid:before {
  content: "\ea24";
}
.mnlicon-Headset:before {
  content: "\ea25";
}
.mnlicon-Handwashing:before {
  content: "\ea26";
}
.mnlicon-HandWaving:before {
  content: "\ea27";
}
.mnlicon-Hamburger:before {
  content: "\ea28";
}
.mnlicon-HackySack:before {
  content: "\ea29";
}
.mnlicon-Gym:before {
  content: "\ea2a";
}
.mnlicon-Holiday2:before {
  content: "\ea2b";
}
.mnlicon-Hourglass:before {
  content: "\ea2c";
}
.mnlicon-Hotel:before {
  content: "\ea2d";
}
.mnlicon-IceCream:before {
  content: "\ea2e";
}
.mnlicon-Hypertargeting:before {
  content: "\ea2f";
}
.mnlicon-Kidneys:before {
  content: "\ea30";
}
.mnlicon-KeepSilent:before {
  content: "\ea31";
}
.mnlicon-KabanMore:before {
  content: "\ea32";
}
.mnlicon-JPGGIFPNG:before {
  content: "\ea33";
}
.mnlicon-Instrument:before {
  content: "\ea34";
}
.mnlicon-Link:before {
  content: "\ea35";
}
.mnlicon-Search:before {
  content: "\ea36";
}
.mnlicon-Left:before {
  content: "\ea37";
}
.mnlicon-Lungs:before {
  content: "\ea38";
}
.mnlicon-Love:before {
  content: "\ea39";
}
.mnlicon-MassageTherapy:before {
  content: "\ea3a";
}
.mnlicon-Mask2:before {
  content: "\ea3b";
}
.mnlicon-Mask1:before {
  content: "\ea3c";
}
.mnlicon-MarketingAutomation:before {
  content: "\ea3d";
}
.mnlicon-MapleLeaf:before {
  content: "\ea3e";
}
.mnlicon-Medicine:before {
  content: "\ea3f";
}
.mnlicon-Microphone:before {
  content: "\ea40";
}
.mnlicon-MentalHealth:before {
  content: "\ea41";
}
.mnlicon-Night:before {
  content: "\ea42";
}
.mnlicon-Neutral:before {
  content: "\ea43";
}
.mnlicon-Music:before {
  content: "\ea44";
}
.mnlicon-MP3:before {
  content: "\ea45";
}
.mnlicon-MOVMP4:before {
  content: "\ea46";
}
.mnlicon-Mouse:before {
  content: "\ea47";
}
.mnlicon-Paper:before {
  content: "\ea48";
}
.mnlicon-Pantry:before {
  content: "\ea49";
}
.mnlicon-OfficeBuilding:before {
  content: "\ea4a";
}
.mnlicon-NursingRoom:before {
  content: "\ea4b";
}
.mnlicon-Notification:before {
  content: "\ea4c";
}
.mnlicon-Pause2:before {
  content: "\ea4d";
}
.mnlicon-Pause1:before {
  content: "\ea4e";
}
.mnlicon-Path:before {
  content: "\ea4f";
}
.mnlicon-PartlySunny:before {
  content: "\ea50";
}
.mnlicon-Parking:before {
  content: "\ea51";
}
.mnlicon-People:before {
  content: "\ea52";
}
.mnlicon-PaymentOrder:before {
  content: "\ea53";
}
.mnlicon-PharmacyDelivery:before {
  content: "\ea54";
}
.mnlicon-Percentage:before {
  content: "\ea55";
}
.mnlicon-PrescriptionOpened:before {
  content: "\ea56";
}
.mnlicon-PremiumDiscounts:before {
  content: "\ea57";
}
.mnlicon-PreferentialPremiumRates:before {
  content: "\ea58";
}
.mnlicon-PowerLineTower:before {
  content: "\ea59";
}
.mnlicon-Play2:before {
  content: "\ea5a";
}
.mnlicon-Play1:before {
  content: "\ea5b";
}
.mnlicon-PlateSpoon:before {
  content: "\ea5c";
}
.mnlicon-Plate:before {
  content: "\ea5d";
}
.mnlicon-Plastic:before {
  content: "\ea5e";
}
.mnlicon-PlanDesign:before {
  content: "\ea5f";
}
.mnlicon-Pipeline:before {
  content: "\ea60";
}
.mnlicon-Pin:before {
  content: "\ea61";
}
.mnlicon-Print:before {
  content: "\ea62";
}
.mnlicon-RockingChair:before {
  content: "\ea63";
}
.mnlicon-RocketShip:before {
  content: "\ea64";
}
.mnlicon-Robot:before {
  content: "\ea65";
}
.mnlicon-Road:before {
  content: "\ea66";
}
.mnlicon-Risk:before {
  content: "\ea67";
}
.mnlicon-Right:before {
  content: "\ea68";
}
.mnlicon-Retail:before {
  content: "\ea69";
}
.mnlicon-Restaurant:before {
  content: "\ea6a";
}
.mnlicon-RemoveFile:before {
  content: "\ea6b";
}
.mnlicon-Rain:before {
  content: "\ea6c";
}
.mnlicon-Puzzle:before {
  content: "\ea6d";
}
.mnlicon-Sad:before {
  content: "\ea6e";
}
.mnlicon-Ruler:before {
  content: "\ea6f";
}
.mnlicon-RoosterBank:before {
  content: "\ea70";
}
.mnlicon-RollOverPlan:before {
  content: "\ea71";
}
.mnlicon-Scissors:before {
  content: "\ea72";
}
.mnlicon-ScheduleView:before {
  content: "\ea73";
}
.mnlicon-Scale:before {
  content: "\ea74";
}
.mnlicon-SoundLow:before {
  content: "\ea75";
}
.mnlicon-SoundHigh:before {
  content: "\ea76";
}
.mnlicon-Sort:before {
  content: "\ea77";
}
.mnlicon-Soccer:before {
  content: "\ea78";
}
.mnlicon-Snow:before {
  content: "\ea79";
}
.mnlicon-Smoking:before {
  content: "\ea7a";
}
.mnlicon-Slippery:before {
  content: "\ea7b";
}
.mnlicon-Sleep:before {
  content: "\ea7c";
}
.mnlicon-SkippingRope:before {
  content: "\ea7d";
}
.mnlicon-Shower:before {
  content: "\ea7e";
}
.mnlicon-ShoppingCart:before {
  content: "\ea7f";
}
.mnlicon-Share:before {
  content: "\ea80";
}
.mnlicon-Stage:before {
  content: "\ea81";
}
.mnlicon-SprinklerSystem:before {
  content: "\ea82";
}
.mnlicon-Spotlight:before {
  content: "\ea83";
}
.mnlicon-SpellCheck:before {
  content: "\ea84";
}
.mnlicon-SpeechBubbles:before {
  content: "\ea85";
}
.mnlicon-SoundMedium:before {
  content: "\ea86";
}
.mnlicon-Tool2:before {
  content: "\ea87";
}
.mnlicon-Tool1:before {
  content: "\ea88";
}
.mnlicon-Toilet:before {
  content: "\ea89";
}
.mnlicon-Thunderstorm:before {
  content: "\ea8a";
}
.mnlicon-ThrowWaste:before {
  content: "\ea8b";
}
.mnlicon-Thermometer:before {
  content: "\ea8c";
}
.mnlicon-Theatre:before {
  content: "\ea8d";
}
.mnlicon-Tennis:before {
  content: "\ea8e";
}
.mnlicon-Talking:before {
  content: "\ea8f";
}
.mnlicon-Tablet:before {
  content: "\ea90";
}
.mnlicon-Switch:before {
  content: "\ea91";
}
.mnlicon-SwimmingPool:before {
  content: "\ea92";
}
.mnlicon-Surprised:before {
  content: "\ea93";
}
.mnlicon-Subway:before {
  content: "\ea94";
}
.mnlicon-Storage:before {
  content: "\ea95";
}
.mnlicon-WineGlasses:before {
  content: "\ea96";
}
.mnlicon-Windy:before {
  content: "\ea97";
}
.mnlicon-WindTurbine:before {
  content: "\ea98";
}
.mnlicon-Will:before {
  content: "\ea99";
}
.mnlicon-Wifi:before {
  content: "\ea9a";
}
.mnlicon-Webcast:before {
  content: "\ea9b";
}
.mnlicon-Waves:before {
  content: "\ea9c";
}
.mnlicon-Voltage:before {
  content: "\ea9d";
}
.mnlicon-VerySad:before {
  content: "\ea9e";
}
.mnlicon-VeryHappy:before {
  content: "\ea9f";
}
.mnlicon-Up:before {
  content: "\eaa0";
}
.mnlicon-Unlock:before {
  content: "\eaa1";
}
.mnlicon-UnionIndustrial:before {
  content: "\eaa2";
}
.mnlicon-TurnOff:before {
  content: "\eaa3";
}
.mnlicon-Tshirt:before {
  content: "\eaa4";
}
.mnlicon-Tree:before {
  content: "\eaa5";
}
.mnlicon-TransparentInCost:before {
  content: "\eaa6";
}
.mnlicon-TransferOfExistingAssets:before {
  content: "\eaa7";
}
.mnlicon-Train:before {
  content: "\eaa8";
}
.mnlicon-Tractor:before {
  content: "\eaa9";
}
.mnlicon-Top:before {
  content: "\eaaa";
}
.mnlicon-TopLeft:before {
  content: "\eaab";
}
.mnlicon-ZoomOut:before {
  content: "\eaac";
}
.mnlicon-ZoomIn:before {
  content: "\eaad";
}
.mnlicon-Yoyo:before {
  content: "\eaae";
}
.mnlicon-Write:before {
  content: "\eaaf";
}
.mnlicon-WomanWearingGlasses:before {
  content: "\eab0";
}
.mnlicon-twitter:before {
  content: "\eab1";
}
.mnlicon-JPWarning:before {
  content: "\eab2";
}
.mnlicon-youtube:before {
  content: "\eab3";
}
.mnlicon-zalo:before {
  content: "\eab4";
}
.mnlicon-instagram:before {
  content: "\eab5";
}
.mnlicon-wechat:before {
  content: "\eab6";
}
.mnlicon-messenger:before {
  content: "\eab7";
}
.mnlicon-line:before {
  content: "\ebad";
}
.mnlicon-JPProspects:before {
  content: "\eab8";
}
.mnlicon-JPPolicyHolders:before {
  content: "\eab9";
}
.mnlicon-JPCorporate:before {
  content: "\eaba";
}
.mnlicon-DongBadgeDollar:before {
  content: "\eabb";
}
.mnlicon-DongBill:before {
  content: "\eabc";
}
.mnlicon-DongBonus:before {
  content: "\eabd";
}
.mnlicon-DongCash:before {
  content: "\eabe";
}
.mnlicon-DongChangeOfLifeInsured:before {
  content: "\eabf";
}
.mnlicon-DongCoin:before {
  content: "\eac0";
}
.mnlicon-DongDebt:before {
  content: "\eac1";
}
.mnlicon-DongEstateLiquidity:before {
  content: "\eac2";
}
.mnlicon-DongFinancialWellness:before {
  content: "\eac3";
}
.mnlicon-DongFundSwitches:before {
  content: "\eac4";
}
.mnlicon-DongGuaranteedCost:before {
  content: "\eac5";
}
.mnlicon-DongMoneyBag:before {
  content: "\eac6";
}
.mnlicon-DongPayTime:before {
  content: "\eac7";
}
.mnlicon-DongPaymentDone:before {
  content: "\eac8";
}
.mnlicon-DongPaymentOrder:before {
  content: "\eac9";
}
.mnlicon-DongPriceMeter:before {
  content: "\eaca";
}
.mnlicon-DongReimbursement:before {
  content: "\eacb";
}
.mnlicon-DongRollOverFunds:before {
  content: "\eacc";
}
.mnlicon-DongTransferOfExistingAssets:before {
  content: "\eacd";
}
.mnlicon-DongTransparentInCost:before {
  content: "\eace";
}
.mnlicon-Dong:before {
  content: "\eacf";
}
.mnlicon-EuroAgent:before {
  content: "\ead0";
}
.mnlicon-EuroBadgeDollar:before {
  content: "\ead1";
}
.mnlicon-EuroBill:before {
  content: "\ead2";
}
.mnlicon-EuroBonus:before {
  content: "\ead3";
}
.mnlicon-EuroCash:before {
  content: "\ead4";
}
.mnlicon-EuroChangeOfLifeInsured:before {
  content: "\ead5";
}
.mnlicon-EuroCoin:before {
  content: "\ead6";
}
.mnlicon-EuroDebt:before {
  content: "\ead7";
}
.mnlicon-EuroEstateLiquidity:before {
  content: "\ead8";
}
.mnlicon-EuroFinancialWellness:before {
  content: "\ead9";
}
.mnlicon-EuroFundSwitches:before {
  content: "\eada";
}
.mnlicon-EuroGuaranteedCost:before {
  content: "\eadb";
}
.mnlicon-EuroMoneyBag:before {
  content: "\eadc";
}
.mnlicon-EuroPayTime:before {
  content: "\eadd";
}
.mnlicon-EuroPaymentDone:before {
  content: "\eade";
}
.mnlicon-EuroPaymentOrder:before {
  content: "\eadf";
}
.mnlicon-EuroPriceMeter:before {
  content: "\eae0";
}
.mnlicon-EuroReimbursment:before {
  content: "\eae1";
}
.mnlicon-EuroRollOverFunds:before {
  content: "\eae2";
}
.mnlicon-EuroTransferOfExistingAssets:before {
  content: "\eae3";
}
.mnlicon-EuroTransparentInCost:before {
  content: "\eae4";
}
.mnlicon-Euro:before {
  content: "\eae5";
}
.mnlicon-HongKongDollarAgent:before {
  content: "\eae6";
}
.mnlicon-HongKongDollarBadgeDollar:before {
  content: "\eae7";
}
.mnlicon-HongKongDollarBill:before {
  content: "\eae8";
}
.mnlicon-HongKongDollarBonus:before {
  content: "\eae9";
}
.mnlicon-HongKongDollarCash:before {
  content: "\eaea";
}
.mnlicon-HongKongDollarChangeOfLifeInsured:before {
  content: "\eaeb";
}
.mnlicon-HongKongDollarCoin:before {
  content: "\eaec";
}
.mnlicon-HongKongDollarDebt:before {
  content: "\eaed";
}
.mnlicon-HongKongDollarEstateLiquidity:before {
  content: "\eaee";
}
.mnlicon-HongKongDollarFinancialWellness:before {
  content: "\eaef";
}
.mnlicon-HongKongDollarFundSwitches:before {
  content: "\eaf0";
}
.mnlicon-HongKongDollarGuaranteedCost:before {
  content: "\eaf1";
}
.mnlicon-HongKongDollarMoneyBag:before {
  content: "\eaf2";
}
.mnlicon-HongKongDollarPayTime:before {
  content: "\eaf3";
}
.mnlicon-HongKongDollarPaymentDone:before {
  content: "\eaf4";
}
.mnlicon-HongKongDollarPaymentOrder:before {
  content: "\eaf5";
}
.mnlicon-HongKongDollarPriceMeter:before {
  content: "\eaf6";
}
.mnlicon-HongKongDollarReimbursement:before {
  content: "\eaf7";
}
.mnlicon-HongKongDollarRollOverFunds:before {
  content: "\eaf8";
}
.mnlicon-HongKongDollarTransferOfExistingAssets:before {
  content: "\eaf9";
}
.mnlicon-HongKongDollarTransparentInCost:before {
  content: "\eafa";
}
.mnlicon-HongKongDollar:before {
  content: "\eafb";
}
.mnlicon-KyatAgent:before {
  content: "\eafc";
}
.mnlicon-KyatBadgeDollar:before {
  content: "\eafd";
}
.mnlicon-KyatBill:before {
  content: "\eafe";
}
.mnlicon-KyatBonus:before {
  content: "\eaff";
}
.mnlicon-KyatCash:before {
  content: "\eb00";
}
.mnlicon-KyatChangeOfLifeInsured:before {
  content: "\eb01";
}
.mnlicon-KyatCoin:before {
  content: "\eb02";
}
.mnlicon-KyatDebt:before {
  content: "\eb03";
}
.mnlicon-KyatEstateLiquidity:before {
  content: "\eb04";
}
.mnlicon-KyatFinancialWellness:before {
  content: "\eb05";
}
.mnlicon-KyatFundSwitches:before {
  content: "\eb06";
}
.mnlicon-KyatGuaranteedCost:before {
  content: "\eb07";
}
.mnlicon-KyatMoneyBag:before {
  content: "\eb08";
}
.mnlicon-KyatPayTime:before {
  content: "\eb09";
}
.mnlicon-KyatPaymentDone:before {
  content: "\eb0a";
}
.mnlicon-KyatPaymentOrder:before {
  content: "\eb0b";
}
.mnlicon-KyatPriceMeter:before {
  content: "\eb0c";
}
.mnlicon-KyatReimbursement:before {
  content: "\eb0d";
}
.mnlicon-KyatRollOverFunds:before {
  content: "\eb0e";
}
.mnlicon-KyatTransferOfExistingAssets:before {
  content: "\eb0f";
}
.mnlicon-KyatTransparentInCost:before {
  content: "\eb10";
}
.mnlicon-Kyat:before {
  content: "\eb11";
}
.mnlicon-NewTaiwanDollarAgent:before {
  content: "\eb12";
}
.mnlicon-NewTaiwanDollarBadgeDollar:before {
  content: "\eb13";
}
.mnlicon-NewTaiwanDollarBill:before {
  content: "\eb14";
}
.mnlicon-NewTaiwanDollarBonus:before {
  content: "\eb15";
}
.mnlicon-NewTaiwanDollarCash:before {
  content: "\eb16";
}
.mnlicon-NewTaiwanDollarChangeOfLifeInsured:before {
  content: "\eb17";
}
.mnlicon-NewTaiwanDollarCoin:before {
  content: "\eb18";
}
.mnlicon-NewTaiwanDollarDebt:before {
  content: "\eb19";
}
.mnlicon-NewTaiwanDollarEstateLiquidity:before {
  content: "\eb1a";
}
.mnlicon-NewTaiwanDollarFinancialWellness:before {
  content: "\eb1b";
}
.mnlicon-NewTaiwanDollarFundSwitches:before {
  content: "\eb1c";
}
.mnlicon-NewTaiwanDollarGuaranteedCost:before {
  content: "\eb1d";
}
.mnlicon-NewTaiwanDollarMoneyBag:before {
  content: "\eb1e";
}
.mnlicon-NewTaiwanDollarPayTime:before {
  content: "\eb1f";
}
.mnlicon-NewTaiwanDollarPaymentDone:before {
  content: "\eb20";
}
.mnlicon-NewTaiwanDollarPaymentOrder:before {
  content: "\eb21";
}
.mnlicon-NewTaiwanDollarPriceMeter:before {
  content: "\eb22";
}
.mnlicon-NewTaiwanDollarReimbursement:before {
  content: "\eb23";
}
.mnlicon-NewTaiwanDollarRollOverFunds:before {
  content: "\eb24";
}
.mnlicon-NewTaiwanDollarTransferOfExistingAssets:before {
  content: "\eb25";
}
.mnlicon-NewTaiwanDollarTransparentInCost:before {
  content: "\eb26";
}
.mnlicon-NewTaiwanDollar:before {
  content: "\eb27";
}
.mnlicon-PesoAgent:before {
  content: "\eb28";
}
.mnlicon-PesoBadgeDollar:before {
  content: "\eb29";
}
.mnlicon-PesoBill:before {
  content: "\eb2a";
}
.mnlicon-PesoBonus:before {
  content: "\eb2b";
}
.mnlicon-PesoCash:before {
  content: "\eb2c";
}
.mnlicon-PesoChangeOfLifeInsured:before {
  content: "\eb2d";
}
.mnlicon-PesoCoin:before {
  content: "\eb2e";
}
.mnlicon-PesoDebt:before {
  content: "\eb2f";
}
.mnlicon-PesoEstateLiquidity:before {
  content: "\eb30";
}
.mnlicon-PesoFinancialWellness:before {
  content: "\eb31";
}
.mnlicon-PesoFundSwitches:before {
  content: "\eb32";
}
.mnlicon-PesoGuaranteedCost:before {
  content: "\eb33";
}
.mnlicon-PesoMoneyBag:before {
  content: "\eb34";
}
.mnlicon-PesoPayTime:before {
  content: "\eb35";
}
.mnlicon-PesoPaymentDone:before {
  content: "\eb36";
}
.mnlicon-PesoPaymentOrder:before {
  content: "\eb37";
}
.mnlicon-PesoPriceMeter:before {
  content: "\eb38";
}
.mnlicon-PesoReimbursement:before {
  content: "\eb39";
}
.mnlicon-PesoRollOverFunds:before {
  content: "\eb3a";
}
.mnlicon-PesoTransferOfExistingAssets:before {
  content: "\eb3b";
}
.mnlicon-PesoTransparentInCost:before {
  content: "\eb3c";
}
.mnlicon-Peso:before {
  content: "\eb3d";
}
.mnlicon-RielAgent:before {
  content: "\eb3e";
}
.mnlicon-RielBadgeDollar:before {
  content: "\eb3f";
}
.mnlicon-RielBill:before {
  content: "\eb40";
}
.mnlicon-RielBonus:before {
  content: "\eb41";
}
.mnlicon-RielCash:before {
  content: "\eb42";
}
.mnlicon-RielChangeOfLifeInsured:before {
  content: "\eb43";
}
.mnlicon-RielCoin:before {
  content: "\eb44";
}
.mnlicon-RielDebt:before {
  content: "\eb45";
}
.mnlicon-RielEstateLiquidity:before {
  content: "\eb46";
}
.mnlicon-RielFinancialWellness:before {
  content: "\eb47";
}
.mnlicon-RielFundSwitches:before {
  content: "\eb48";
}
.mnlicon-RielGuaranteedCost:before {
  content: "\eb49";
}
.mnlicon-RielMoneyBag:before {
  content: "\eb4a";
}
.mnlicon-RielPayTime:before {
  content: "\eb4b";
}
.mnlicon-RielPaymentDone:before {
  content: "\eb4c";
}
.mnlicon-RielPaymentOrder:before {
  content: "\eb4d";
}
.mnlicon-RielPriceMeter:before {
  content: "\eb4e";
}
.mnlicon-RielReimbursement:before {
  content: "\eb4f";
}
.mnlicon-RielRollOverFunds:before {
  content: "\eb50";
}
.mnlicon-RielTransferOfExistingAssets:before {
  content: "\eb51";
}
.mnlicon-RielTransparentInCost:before {
  content: "\eb52";
}
.mnlicon-Riel:before {
  content: "\eb53";
}
.mnlicon-RinggitAgent:before {
  content: "\eb54";
}
.mnlicon-RinggitBadgeDollar:before {
  content: "\eb55";
}
.mnlicon-RinggitBill:before {
  content: "\eb56";
}
.mnlicon-RinggitBonus:before {
  content: "\eb57";
}
.mnlicon-RinggitCash:before {
  content: "\eb58";
}
.mnlicon-RinggitChangeOfLifeInsured:before {
  content: "\eb59";
}
.mnlicon-RinggitCoin:before {
  content: "\eb5a";
}
.mnlicon-RinggitDebt:before {
  content: "\eb5b";
}
.mnlicon-RinggitEstateLiquidity:before {
  content: "\eb5c";
}
.mnlicon-RinggitFinancialWellness:before {
  content: "\eb5d";
}
.mnlicon-RinggitFundSwitches:before {
  content: "\eb5e";
}
.mnlicon-RinggitGuaranteedCost:before {
  content: "\eb5f";
}
.mnlicon-RinggitMoneyBag:before {
  content: "\eb60";
}
.mnlicon-RinggitPayTime:before {
  content: "\eb61";
}
.mnlicon-RinggitPaymentDone:before {
  content: "\eb62";
}
.mnlicon-RinggitPaymentOrder:before {
  content: "\eb63";
}
.mnlicon-RinggitPriceMeter:before {
  content: "\eb64";
}
.mnlicon-RinggitReimbursement:before {
  content: "\eb65";
}
.mnlicon-RinggitRollOverFunds:before {
  content: "\eb66";
}
.mnlicon-RinggitTransferOfExistingAssets:before {
  content: "\eb67";
}
.mnlicon-RinggitTransparentInCost:before {
  content: "\eb68";
}
.mnlicon-Ringgit:before {
  content: "\eb69";
}
.mnlicon-RupiahAgent:before {
  content: "\eb6a";
}
.mnlicon-RupiahBadgeDollar:before {
  content: "\eb6b";
}
.mnlicon-RupiahBill:before {
  content: "\eb6c";
}
.mnlicon-RupiahBonus:before {
  content: "\eb6d";
}
.mnlicon-RupiahCash:before {
  content: "\eb6e";
}
.mnlicon-RupiahChangeOfLifeInsured:before {
  content: "\eb6f";
}
.mnlicon-RupiahCoin:before {
  content: "\eb70";
}
.mnlicon-RupiahDebt:before {
  content: "\eb71";
}
.mnlicon-RupiahEstateLiquidity:before {
  content: "\eb72";
}
.mnlicon-RupiahFinancialWellness:before {
  content: "\eb73";
}
.mnlicon-RupiahFundSwitches:before {
  content: "\eb74";
}
.mnlicon-RupiahGuaranteedCost:before {
  content: "\eb75";
}
.mnlicon-RupiahMoneyBag:before {
  content: "\eb76";
}
.mnlicon-RupiahPayTime:before {
  content: "\eb77";
}
.mnlicon-RupiahPaymentDone:before {
  content: "\eb78";
}
.mnlicon-RupiahPaymentOrder:before {
  content: "\eb79";
}
.mnlicon-RupiahPriceMeter:before {
  content: "\eb7a";
}
.mnlicon-RupiahReimbursement:before {
  content: "\eb7b";
}
.mnlicon-RupiahRollOverFunds:before {
  content: "\eb7c";
}
.mnlicon-RupiahTransferOfExistingAssets:before {
  content: "\eb7d";
}
.mnlicon-RupiahTransparentInCost:before {
  content: "\eb7e";
}
.mnlicon-Rupiah:before {
  content: "\eb7f";
}
.mnlicon-SingaporeDollarAgent:before {
  content: "\eb80";
}
.mnlicon-SingaporeDollarBadgeDollar:before {
  content: "\eb81";
}
.mnlicon-SingaporeDollarBill:before {
  content: "\eb82";
}
.mnlicon-SingaporeDollarBonus:before {
  content: "\eb83";
}
.mnlicon-SingaporeDollarCash:before {
  content: "\eb84";
}
.mnlicon-SingaporeDollarChangeOfLifeInsured:before {
  content: "\eb85";
}
.mnlicon-SingaporeDollarCoin:before {
  content: "\eb86";
}
.mnlicon-SingaporeDollarDebt:before {
  content: "\eb87";
}
.mnlicon-SingaporeDollarEstateLiquidity:before {
  content: "\eb88";
}
.mnlicon-SingaporeDollarFinancialWellness:before {
  content: "\eb89";
}
.mnlicon-SingaporeDollarFundSwitches:before {
  content: "\eb8a";
}
.mnlicon-SingaporeDollarGuaranteedCost:before {
  content: "\eb8b";
}
.mnlicon-SingaporeDollarMoneyBag:before {
  content: "\eb8c";
}
.mnlicon-SingaporeDollarPayTime:before {
  content: "\eb8d";
}
.mnlicon-SingaporeDollarPaymentDone:before {
  content: "\eb8e";
}
.mnlicon-SingaporeDollarPaymentOrder:before {
  content: "\eb8f";
}
.mnlicon-SingaporeDollarPriceMeter:before {
  content: "\eb90";
}
.mnlicon-SingaporeDollarReimbursement:before {
  content: "\eb91";
}
.mnlicon-SingaporeDollarRollOverFunds:before {
  content: "\eb92";
}
.mnlicon-SingaporeDollarTransferOfExistingAssets:before {
  content: "\eb93";
}
.mnlicon-SingaporeDollarTransparentInCost:before {
  content: "\eb94";
}
.mnlicon-SingaporeDollar:before {
  content: "\eb95";
}
.mnlicon-YenAgent:before {
  content: "\eb96";
}
.mnlicon-YenBadgeDollar:before {
  content: "\eb97";
}
.mnlicon-YenBill:before {
  content: "\eb98";
}
.mnlicon-YenBonus:before {
  content: "\eb99";
}
.mnlicon-YenCash:before {
  content: "\eb9a";
}
.mnlicon-YenChangeOfLifeInsured:before {
  content: "\eb9b";
}
.mnlicon-YenCoin:before {
  content: "\eb9c";
}
.mnlicon-YenDebt:before {
  content: "\eb9d";
}
.mnlicon-YenEstateLiquidity:before {
  content: "\eb9e";
}
.mnlicon-YenFinancialWellness:before {
  content: "\eb9f";
}
.mnlicon-YenFundSwitches:before {
  content: "\eba0";
}
.mnlicon-YenGuaranteedCost:before {
  content: "\eba1";
}
.mnlicon-YenMoneyBag:before {
  content: "\eba2";
}
.mnlicon-YenPayTime:before {
  content: "\eba3";
}
.mnlicon-YenPaymentDone:before {
  content: "\eba4";
}
.mnlicon-YenPaymentOrder:before {
  content: "\eba5";
}
.mnlicon-YenPriceMeter:before {
  content: "\eba6";
}
.mnlicon-YenReimbursment:before {
  content: "\eba7";
}
.mnlicon-YenRollOverFunds:before {
  content: "\eba8";
}
.mnlicon-YenTransferOfExistingAssets:before {
  content: "\eba9";
}
.mnlicon-YenTransparentInCost:before {
  content: "\ebaa";
}
.mnlicon-Yen:before {
  content: "\ebab";
}
.mnlicon-DongAgent:before {
  content: "\ebac";
}