<form (ngSubmit)="onSubmit()">
  <ion-item>
    <ion-label position="stacked">Claim Title</ion-label>
    <ion-input [(ngModel)]="formData.title" name="title" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Amount</ion-label>
    <ion-input type="number" [(ngModel)]="formData.amount" name="amount" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Provider</ion-label>
    <ion-input [(ngModel)]="formData.provider" name="provider" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Date</ion-label>
    <ion-datetime [(ngModel)]="formData.date" name="date" required></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Description</ion-label>
    <ion-textarea [(ngModel)]="formData.description" name="description" rows="3"></ion-textarea>
  </ion-item>

  <div class="form-actions">
    <ion-button expand="block" type="submit">Submit Claim</ion-button>
  </div>
</form>